@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200,300;400;500;600;700&display-swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    transform: rotateY(0deg);
    padding: 5px;
    transform-style: preserve-3d;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

.front-face,
.back-face {
    transition: 0.7s cubic-bezier(.4, .2, .2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    transition: box-shadow 0.3s;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face img:hover {
    box-shadow: 0 0 20px #1cc7d0;
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
    list-style: none;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    text-align: center;
    border: 2px solid transparent;
    line-height: 38px;
    margin: 0 5px;
    color: #fff;
    border-radius: 50%;
}

.back-face ul a:hover {
    background: none;
    color: #1cc7d0;
    border-color: #1cc7d0;
    transform: scale(1.15) rotate(-10deg);
    transition: 0.2s;
}

.front-face,
.back-face {
    backface-visibility: hidden;
}

.front-face,
.back-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 400px) {
    .wrapper {
        width: 95vw;
        height: 70vw;
        min-width: 200px;
        min-height: 250px;
    }
}